logs/
__pycache__/
*.pyc
#jobs/crawlers/
.env
airflow.db
*.jar
hive/*.xml
hive/*.jar
*.json
.env.*
#cookies.json
#jobs/crawlers/json_cookies/itviec_cookies.json
#jobs/crawlers/json_cookies/topcv_cookies.json

